/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141452; 
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;

}

.logo {
    width: 120px;
}

/* Main content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

main ul {
    list-style: none;
    padding: 0;
}

main ul li {
    display: inline;
    margin: 0 15px;
}

main ul li a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

/* Cursos */
section {
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 800px;
    min-width: 300px;
}

section h2 {
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.curso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
}

.curso-item {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.curso-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.curso-item img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #f91f26;
}

.curso-item p {
    padding: 10px 5px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
    position: relative;
    margin-top: 40px;
}