body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141452;
    padding: 15px 30px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #141452;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #141452;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.button:hover {
    background-color: #7474dd;
    color: #141452;
}

button:hover {
    background-color: #7474dd;
    color: #141452;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }